<div class="container">
  <div class="box-wrapper">
    <div class="box">
      <div class="search-wrapper">
        <input
          class="search-input"
          type="text"
          placeholder="Pesquisar usuário"
          [formControl]="control"
        />
        <button class="search-button" (click)="search()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div *ngIf="isOpen" [@enterAnimation] class="result-wrapper">
      <div class="user-infos" *ngIf="user && isOpen">
        <div class="image-wrapper">
          <img [src]="user.avatar_url" alt="..." class="img-thumbnail" />
        </div>

        <div class="data-wrapper">
          <p class="name">
            {{ user.name }}
          </p>

          <p class="username">
            {{ user.login }}
          </p>

          <p class="bio">
            {{ user.bio }}
          </p>

          <p class="social">
            {{ user.blog }}
          </p>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label
            class="btn btn-secondary"
            [ngClass]="{ active: active === 'owner' }"
          >
            <input type="radio" (click)="getOwnerRepos()" />
            Repositórios
          </label>
          <label
            class="btn btn-secondary"
            [ngClass]="{ active: active === 'starred' }"
          >
            <input type="radio" (click)="getStarredRepos()" /> Favoritos
          </label>
        </div>

        <div class="repos">
          <div class="owner-list" *ngIf="active === 'owner'">
            <div
              class="card"
              *ngFor="let item of ownerRepos"
              (click)="openRepo(item.html_url)"
            >
              <div class="card-body">
                <p>
                  {{ item.name }}
                </p>
                <p class="date">
                  <i class="fa fa-calendar"></i>
                  {{ item.created_at | date: 'dd/MM/yyyy' }}
                </p>
              </div>
            </div>
          </div>

          <div class="starred-list" *ngIf="active === 'starred'">
            <div
              class="card"
              *ngFor="let item of starredRepos"
              (click)="openRepo(item.html_url)"
            >
              <div class="card-body">
                <p>
                  {{ item.name }}
                </p>
                <p class="date">
                  <i class="fa fa-calendar"></i>
                  {{ item.created_at | date: 'dd/MM/yyyy' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
