@import 'core';

:host {
  .box-wrapper {
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: hidden;

    .box {
      min-height: 25vh;
      background: $secondary;
      margin-top: 2.2rem;
      border-radius: 8px 8px 0 0;
      -webkit-box-shadow: 0px 0px 9px -4px rgba(59, 59, 59, 1);
      -moz-box-shadow: 0px 0px 9px -4px rgba(59, 59, 59, 1);
      box-shadow: 0px 0px 9px -4px rgba(59, 59, 59, 1);
      z-index: 999;
      position: relative;

      .search-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;

        .search-input {
          border: none;
          background-color: $tertiary;
          color: $primary;
          border-radius: 30px;
          width: 70%;
          padding: 0.6rem 1rem;
          font-size: 1.2rem;

          &::placeholder {
            color: $primary;
          }
        }

        .search-button {
          background-color: $tertiary;
          color: $primary;
          border: none;
          border-radius: 50%;
          width: 2.8rem;
          height: 2.8rem;
          margin-left: 0.5rem;
          transition: all 0.5s;

          &:hover {
            background-color: $primary;
            color: $tertiary;
          }
        }
      }
    }

    .result-wrapper {
      width: 99%;
      margin: auto;
      border-radius: 0 0 8px 8px;
      -webkit-box-shadow: 0px 0px 9px -4px rgba(59, 59, 59, 1);
      -moz-box-shadow: 0px 0px 9px -4px rgba(59, 59, 59, 1);
      box-shadow: 0px 0px 9px -4px rgba(59, 59, 59, 1);
      padding: 2rem;
      background-color: $light-grey;
      margin-bottom: 2rem;

      .user-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .image-wrapper {
          img {
            width: 10rem;
            border-radius: 50%;
          }
        }

        .data-wrapper {
          margin-top: 1rem;

          text-align: center;

          p {
            line-height: 0.6;
          }

          .name {
            font-size: 1.5rem;
            font-weight: bold;
            color: $primary;
          }

          .username,
          .bio,
          .social {
            color: $secondary;
          }

          .bio {
            font-size: 0.8rem;
          }
        }

        .repos {
          .owner-list,
          .starred-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 2rem;

            .card {
              width: 15rem;
              margin-bottom: 1rem;
              cursor: pointer;
              transition: all 0.5s;

              &:hover {
                transform: scale(1.1);
              }

              .date {
                font-size: 0.8rem;
                color: $primary;

                i {
                  vertical-align: inherit;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media('>=desktop') {
    .box-wrapper {
      width: 90%;

      .box {
        margin-top: 3.093rem;
        .search-wrapper {
          height: 12rem;

          .search-input {
            width: 60%;
          }
        }
      }
    }
  }
}
